body {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(26, 27, 28);
  font-feature-settings: "stch";
  background-color: rgb(242, 242, 234);
}

header {
  background-color: rgb(242, 242, 234);
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(26, 27, 28);
}
