body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #333;
  font-size: 1rem;
  background-color: #f9f9f9;
}

header {
  background-color: #fff;
  width: 100%;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
  border-radius: 10px;
}
