body {
    font-family: fantasy; color: rgb(11, 94, 129); font-feature-settings: "stch";
    background-color: antiquewhite;
}

header {
    background-color: rgb(11, 94, 129);
    text-align: center;
    font-family: fantasy; color: rgb(227, 213, 26);
}